//header
.header, .mobile {
	font-size: 24px !important;
	.dropdown-header {
		position: absolute;
		left: 50%;
		top: -3px;
		margin-left: -80px !important;
		display: block;
	}
	.header-menu .badge {
		position: absolute;
		z-index: 1000;
		right: 50px;
	}
	#header-menu {
		text-align: center !important;
		background: $mobile-menu;
		position: absolute;
		width: 100%;
		z-index: 55;
		ul:not(:last-child) {
			li {
				width: 170px;
				margin: 0 auto;
				border-bottom: 1px solid $border-mobile;
				a {
					line-height: 30px;
				}
			}
		}
		ul:last-child {
			float: none !important;
			margin: auto;
			a {
				font-style: italic;
			}
		}
	}
}

//form
form {
	.form-group {
		input {
			@include placeholder($gray);
		}
		label {
			text-align: left;
			margin-left: 0;
		}
	}
	
	.checkbox {
		label {
			line-height: 24px;
			width: auto;
		}
	}
}

//content
.side-menu {
	margin-top: 0;
	text-align: center;
}

#flight-hours .button-warning, .save {
	display: block;
	margin: 30px auto !important;
}

//billing
#billing {
	.description {
		margin-top: 60px;
	}
	#curren-address, #invoices {
		font-size: 12px;
	}
}

#invoices {
	margin-bottom: 20px;
	margin-left: -30px !important;
}

#curren-address {
	margin-bottom: 8px;
}

form {
	.form-group {
		margin-bottom: 0;
		input, button {
			margin-bottom: 15px;
		}
	}
}

.marg-t60 {
	margin-top: 10px;
}

.radio {
	div:last-child {
		margin-left: -30px;
		margin-bottom: 8px;
	}
}

//Legal
#legal {
	#date-time {
		label {
			line-height: 30px !important;
		}
	}
	#insured-sum {
		input {
			width: 86% !important;
		}
		.bootstrap-select {
			margin-left: -46px !important;
		}
	}
	.button-group {
		p:first-child {
			text-align: left;
			margin-left: 15px;
			padding-right: 0;
			padding-left: 0;
			width: 130px
		}
	}
}

//mmodals
#phone-number, #verify-modal {
	.modal-dialog {
		width: 262px;
		margin: 60% auto;
		.form-group {
			width: 86%;
		}
		.btn-group {
			margin-bottom: 0;
			.btn-default {
				width: 78%;
			}
		}
		.button-warning:first-child {
			margin-bottom: 25px;
		}
	}
}

#phone-number {
	p {
		width: 165px;
	}
	label, div:last-child {
		text-align: center;
	}
	input {
		width: 80px;
		display: block;
		margin: auto;
	}
	.btn-default {
		width: auto !important;
	}
}

#project-galery {
	.modal-header .settings {
		right: 1% !important;
	}
	.item img {
		width: 100% !important;
	}
	.prev {
		border: 19px solid transparent !important;
		border-right: 19px solid $light-blue !important;
		left: 10px !important;
	}
	.next {
		border: 19px solid transparent !important;
		border-left: 19px solid $light-blue !important;
		right: 10px !important;
	}
	.image-section {
		width: 100% !important;
		div {
			padding: 0;
		}
		img {
			margin-bottom: 15px;
			width: 95%;
		}
		div:nth-child(even) {
			img {
				float: right;
			}
		}
	}
}

#share, #delete {
	.modal-content {
		width: 92%;
		margin: 175px auto;
	}
}

//profile
#profile {
	padding: 0;
	button {
		margin-bottom: 20px;
	}
	.publick-section {
		padding: 0;
		.public-details {
			padding-bottom: 15px;
			padding-top: 15px;
			margin-bottom: 20px;
			text-align: center !important;
			.profile-image {
				float: none !important;
				margin: 0 auto;
			}
			.profile-settings {
				position: absolute;
				top: 0;
				right: 15px;
			}
			.stars {
				width: 215px;
				margin: 0 auto;
			}
		}
	}
}

//profile-settings
#progile-settings {
	.back {
		height: 40px;
		text-align: left;
		margin: 0;
	}
	form {
		img {
			float: left;
			margin-bottom: 10px;
		}
		.upload {
			display: block;
			float: left;
		}
		textarea {
			margin-bottom: 17px;
		}
	}
	#profile-url {
		margin: 0 !important;
	}
	p {
		margin-bottom: 33px;
	}
}

//help
#help {
	padding: 0 15px 0 35px;
	.help-section {
		#first-tab, #second-tab, #third-tab, #forth-tab, #fifth-tab, #sixth-tab, #seventh-tab, #eight-tab, #ninth-tab {
			padding: 10px 20px 0 40px !important;
			h3 {
				font-size: 18px !important;
			}
			.image {
				width: 85px !important;
				.photo, .foto-video, .video, .inspection, .immobilien, .vermarktung, .other, .no, .yes {
					width: 100% !important;
					height: 85px !important;
				}
			}
		}
	}
}

#first-tab {
	div:nth-of-type(3) {
		margin-bottom: 44px;
	}
}

#second-tab button {
	margin: 30px 0 20px !important;
}

#third-tab {
	.checkbox {
		padding: 0;
		ul {
			padding-left: 22px !important;
		}
	}
	.btn-default {
		margin-top: 74px !important;
	}
}

#forth-tab, #sixth-tab {
	.image {
		margin: auto;
	}
}

#forth-tab {
	h3 {
		margin-bottom: 0 !important;
	}
	div:nth-of-type(2) {
		margin: 30px 0 35px;
	}
	p {
		text-align: center;
	}
}

#fifth-tab {
	h4 {
		margin: 0;
	}
	.active {
		margin-top: 20px;
	}
	.btn-default {
		margin-bottom: 20px;
	}
}

#sixth-tab {
	height: 419px !important;
	div:nth-of-type(2) {
		margin: 20px 0 30px;
	}
}

#eight-tab {
	h4 {
		margin-bottom: 20px;
	}
	.form-group {
		textarea {
			width: 100% !important;
		}
	}
	p {
		line-height: 15px !important;
		margin: 20px 0;
	}
	button {
		margin-top: 75px;
	}
}

#ninth-tab {
	input {
		margin: 0;
	}
	.button-warning {
		margin: 26px 0 40px;
	}
}