@media all and (max-width: 480px) {
	@import "max480";
}

@media all and (min-width: 480px) and (max-width: 767px) {
	@import "min480-max767";
}

@media all and (min-width: 767px) and (max-width: 992px) {
	@import "min767-max-992";
}

@media all and (min-width: 992px) and (max-width: 1200px) {
	@import "min992-max1200";
}