//header
.header {
	.navbar-brand {
		float: left;
	}
	.header-menu .badge {
		position: absolute;
		z-index: 1000;
		right: 50px;
		top: -32px;
	}
	#header-menu {
		text-align: center !important;
		background: $mobile-menu;
		position: absolute;
		width: 100%;
		z-index: 55;
		ul li {
			margin-left: 0;
		}
	}
}

.mobile {
	font-size: 24px !important;
}

//form
form {
	.form-group {
		input {
			@include placeholder($gray);
		}
		label {
			text-align: left;
			margin-left: 0;
		}
	}
	
	.checkbox {
		label {
			margin-left: 0;
			width: auto;
			line-height: 24px;
		}
	}
}

//content
.side-menu {
	margin-top: 0;
	text-align: center;
}

#flight-hours .button-warning, .save {
	display: block;
	margin: 30px auto !important;
}

//billing
#billing {
	.description {
		margin-top: 60px;
	}
	#curren-address, #invoices {
		font-size: 12px;
		line-height: 17px;
	}
}

#invoices {
	margin-bottom: 20px;
	margin-left: -30px !important;
}

#curren-address {
	margin-bottom: 8px;
}

form {
	.form-group {
		margin-bottom: 0;
		input, button {
			margin-bottom: 15px;
		}
	}
}

.marg-t60 {
	margin-top: 10px;
}

.radio {
	div:last-child {
		margin-left: -30px;
		margin-bottom: 8px;
	}
}

//Legal
#legal {
	#date-time {
		label {
			line-height: 30px !important;
		}
	}
	#insured-sum {
		input {
			width: 80% !important;
		}
		.bootstrap-select {
			width: 70% !important;
			margin-left: -76px !important;
		}
	}
	.button-group {
		p:first-child {
			text-align: left;
			margin-left: 15px;
			padding-right: 0;
			padding-left: 0;
			width: 130px
		}
	}
}

//medias
#phone-number, #verify-modal {
	.modal-dialog {
		width: 262px;
		.form-group {
			width: 86%;
		}
		.btn-group {
			margin-bottom: 0;
			.btn-default {
				width: 78%;
			}
		}
		.button-warning:first-child {
			margin-bottom: 25px;
		}
	}
}

#phone-number {
	p {
		width: 165px;
	}
	label, div:last-child {
		text-align: center;
	}
	input {
		width: 80px;
		display: block;
		margin: auto;
	}
	.btn-default {
		width: auto !important;
	}
}

#project-galery {
	.modal-header .settings {
		right: 1% !important;
	}
	.item img {
		width: 100% !important;
	}
	.prev {
		border: 19px solid transparent !important;
		border-right: 19px solid $light-blue !important;
		left: 10px !important;
	}
	.next {
		border: 19px solid transparent !important;
		border-left: 19px solid $light-blue !important;
		right: 10px !important;
	}
	.image-section {
		width: 100% !important;
		div {
			padding: 0;
		}
		img {
			margin-bottom: 15px;
			width: 95%;
		}
		div:nth-child(even) {
			img {
				float: right;
			}
		}
	}
}

#share, #delete {
	.modal-content {
		margin: 45% auto;
	}
}

//profile
#profile {
	padding: 0;
	button {
		margin-bottom: 20px;
	}
	.publick-section {
		padding: 0;
		.public-details {
			padding-bottom: 15px;
			padding-top: 15px;
			margin-bottom: 20px;
			text-align: center !important;
			.profile-image {
				float: none !important;
				margin: 0 auto;
			}
			.profile-settings {
				position: absolute;
				top: 0;
				right: 15px;
			}
			.stars {
				width: 215px;
				margin: 0 auto;
			}
		}
	}
}

//profile-settings
#progile-settings {
	.back {
		height: 40px;
		text-align: left;
		margin: 0;
	}
	form {
		img {
			float: left;
			margin-bottom: 10px;
		}
		.upload {
			display: block;
			float: left;
		}
		textarea {
			margin-bottom: 17px;
		}
	}
	#profile-url {
		margin: 0 !important;
	}
	p {
		margin-bottom: 33px;
	}
}