#billing {
	.progress {
		@include border-radius(0, 0, 0, 0);
		height: 10px;
		background-color: $header-bg;
		margin-top: 108px;
		margin-bottom: 13px;
		.progress-bar-warning {
			background-color: $active-color;
			width: 70%;
		}
	}
	.tooltip.top {
		left: 59% !important;
	}
	.tooltip-inner {
		@include size(100px, 55px);
		@include border-radius(0, 0, 0, 0);
		background-color: $active-color;
		margin-bottom: 15px;
		margin-left: 20px;
		vertical-align: middle;
		color: $header-bg;
		padding-top: 20px;
	}
	.tooltip-arrow {
		border-top: 20px solid $active-color;
		margin-top: 25px;
		position: absolute;
		top: 35px;
		margin-right: 30px;
		border-right: 15px solid $transparent;
		border-left: 15px solid $transparent;
	}
	table {
		empty-cells: visible;
		margin-bottom: 0;
		tr {
			td {
				line-height: 30px;
			}
		}
	}
	
	.button-warning {
		margin: 31px 0 210px;
	}
}