.footer {
	background: $header-bg;
	padding: 24px 27px 50px 30px;
	img {
		margin-bottom: 21px;
	}
	p, a {
		font-size: 10px;
	}
	p {
		color: $white;
		span {
			color: $pink;
		}
	}
	ul {
		padding-left: 0;
		li {
			a {
				color: $light-orange;
			}
		}
	}
}