form {
	overflow: auto;
	.form-control:focus {
		@include box-shadow(0, 0, 0, $transparent);
	}
	
	label {
		font-size: 12px;
		line-height: 30px;
		color: $form-lable;
		font-weight: normal;
		margin-bottom: 0;
		span {
			color: $light-orange;
		}
	}
	#date-time {
		input {
			@include placeholder($header-bg);
		}
		label {
			line-height: 17px;
		}
	}
	.form-group {
		input, textarea {
			@include placeholder($transparent);
			border: 0.5px solid $header-bg !important;
			border-radius: 0;
			font-size: 12px;
		}
		textarea {
			resize: none;
		}
		#rates {
			margin-top: 35px;
		}
		&::after, &::before {
			content: '';
			display: block;
			clear: both;
		}
	}
	a {
		text-decoration: underline;
		color: $light-orange;
		line-height: 30px;
	}
	.sub-title {
		font-size: 10px;
	}
	.checkbox {
		input[type=checkbox] {
			&::after {
				@include size(16px, 16px);
				position: absolute;
				top: 0;
				left:0;
				content: '';
				text-align: center;
				background: $white;
				display: block;
				opacity: 1;
				color: $light-orange;
				border: 1px solid $header-bg;
			}
			&:checked::after {
				content: '\2713';
				font-size: 22px;
				line-height: 6px;
				font-weight: bold;
			}
		}
		#curren-address {
			line-height: 25px;
		}
		label {
			font-size: 12px;
		}
	}
	.btn-default {
		border-color: $header-bg;
	}
}

.save {
	margin: 31px 0 210px;
}

#lng {
	margin-top: 30px;
	margin-bottom: 40px;
}

#flight-hours {
	margin-top: 0;
	label {
		font-size: 12px;
		line-height: 26px;
		display: block;
	}
	.button-warning {
		margin: 31px 0 210px;
	}
}

input[type=radio]::after {
	@include border-radius(50%, 50%, 50%, 50%);
	@include size(16px, 16px);
	position: absolute;
	top: -1px;
	left: -1px;
	content: '';
	text-align: center;
	background: $white;
	display: block;
	pointer-events: none;
	opacity: 1;
	color: $header-bg;
	border: 1px solid $header-bg;
}

input[type=radio]:checked::after {
	content: '\25CF';
	font-size: 19px;
	line-height: 10px;
}
