.header {
	.dropdown-header {
		.navbar-brand {
				padding-left: 0;
		}
		button {
			right: 8px;
			&::after {
				content: '';
				border: 10px solid transparent;
				border-top: 10px solid $white;
				position: absolute;
				top: 15px;
				left: 0;
			}
		}
	}
	.navbar-brand {
		float: left;
	}
	a {
		color: $white;
	}
	.header-menu {
		@include border-radius(0, 0, 0, 0);
		padding: 0 16px 10px 20px;
		margin-bottom: 0;
		box-sizing: border-box;
		background-color: $header-bg;
		height: 55px;
		.badge {
			@include size(21px, 21px);
			line-height: 15px;
		}
	}
	
	.subheader-menu {
		@include border-radius(0, 0, 0, 0);
		background: $gray;
		padding: 0 30px;
		margin-bottom: 0;
		a :not(:first-child) {
			padding-left: 0;
		}
		ul {
			li:not(:first-child) {
				margin-left: 37px;
			}
		}
	}
}