#help {
	background: $header-bg;
	color: $form-lable;
	padding: 0 61px;
	.help-section {
		border-left: 2px solid $active-color;
		p {
			height: 26px;
			line-height: 26px;
			padding-left: 67px;
			.badge {
				@include size(26px, 26px);
				line-height: 19px;
				position: absolute;
				left: 2px;
				z-index: 60;
			}
		}
		.item-1 {
			background: $first-help;
		}
		.item-2 {
			background: $first-help;
		}
		.item-3 {
			background: $third-help;
		}
		.item-4 {
			background: $forth-help;
		}
		.item-5 {
			background: $fifth-help;
		}
		.item-6 {
			background: $sixth-help;
		}
		.item-7 {
			background: $seventh-help;
		}
		.item-8 {
			background: $eighth-help;
		}
		.item-9 {
			background: $ninth-help;
		}
		#first-tab, #second-tab, #third-tab, #forth-tab, #fifth-tab, #sixth-tab, #seventh-tab, #eight-tab, #ninth-tab {
			overflow: auto;
			height: auto;
			background: $white;
			padding: 35px 15px 0 60px;
			margin-top: -36px;
			margin-bottom: 10px;
			z-index: 50;
			position: relative;
			h3 {
				font-size: 20px;
				font-weight: bold;
				margin: 0;
			}
			h4 {
				font-size: 14px;
				padding: 0;
				a {
					text-decoration: none;
				}
			}
			.btn-default {
				border: 1px solid $profile-bg;
				color: $light-gray;
				padding: 5px 0;
				width: 109px;
				margin-right: 10px;
			}
			.active {
				background: $transparent;
				border: 1px solid $active-color;
				box-shadow: none;
				color: $active-color;
				margin-bottom: 20px;
			}
			p {
				padding: 0;
			}
			.image {
				width: 112px;
				div {
					@include size(100%, 112px);
					background-repeat: no-repeat;
					background-size: cover;
				}
				.inspection {
					background-image: url("../images/help-images/inspection.png");
					&:hover {
						background-image: url("../images/help-images/inspection-active.png");
					}
				}
				&:hover {
					color: $active-color
				}
			}
		}
		#first-tab {
			padding-bottom: 87px;
			.image {
				.photo {
					background-image: url("../images/help-images/foto.png");
					&:hover {
						background-image: url("../images/help-images/foto-active.png");
					}
				}
				.video {
					background-image: url("../images/help-images/video.png");
					&:hover {
						background-image: url("../images/help-images/video-active.png");
					}
				}
				.foto-video {
					background-image: url("../images/help-images/foto-video.png");
					&:hover {
						background-image: url("../images/help-images/foto-video-active.png");
					}
				}
				&:hover {
					color: $active-color
				}
			}
		}
		#second-tab {
			h4 {
				margin-bottom: 20px;
			}
			.image {
				.immobilien {
					background-image: url("../images/help-images/real-estate.png");
					&:hover {
						background-image: url("../images/help-images/real-active.png");
					}
				}
				.vermarktung {
					background-image: url("../images/help-images/marketing.png");
					&:hover {
						background-image: url("../images/help-images/marketing-active.png");
					}
				}
				.other {
					background-image: url("../images/help-images/other.png");
					&:hover {
						background-image: url("../images/help-images/other-active.png");
					}
				}
				&:hover {
					color: $active-color
				}
			}
			button {
				margin: 44px 0 30px;
			}
		}
		#third-tab {
			ul {
				padding-left: 60px;
				li {
					margin-bottom: 8px;
					&:last-child {
						label {
							border: 1px solid $light-gray;
							color: $light-gray;
							font-size: 9px;
							margin-left: 9px;
							padding: 2px 38px 1px 6px;
						}
					}
				}
			}
			label {
				line-height: 20px;
				padding-left: 8px;
			}
			.checked {
				margin: 0;
				
			}
			p {
				line-height: 17px;
				padding: 0;
				width: 226px;
			}
			.btn-default {
				margin: 50px 0 20px;
			}
		}
		#forth-tab, #sixth-tab {
			padding-bottom: 50px;
			h3 {
				margin-bottom: 30px;
			}
			.image {
				margin-top: 13px;
				.no {
					background-image: url("../images/help-images/no.png");
					&:hover {
						background-image: url("../images/help-images/no-active.png");
					}
				}
				.yes {
					background-image: url("../images/help-images/yes.png");
					&:hover {
						background-image: url("../images/help-images/yes-active.png");
					}
				}
			}
		}
		#fifth-tab, #ninth-tab {
			padding-bottom: 33px;
			.form-group {
				padding-left: 8px;
				margin-bottom: 0;
				label {
					line-height: 14px;
					font-size: 10px;
					display: block;
					margin-top: 10px;
				}
				p {
					line-height: 11px;
					height: auto;
					font-size: 8px;
					margin-bottom: 5px;
				}
				input {
					border: 1px solid $border-gray !important;
					@include size(100%, 30px);
				}
				.bootstrap-select {
					@include size(58px, 30px);
					float: left;
					position: absolute;
				}
				#add-number {
					border-radius: 4px;
					display: block;
				}
				.btn-default {
					@include size(70px, 30px);
					background: transparent;
					border: 1px solid $border-gray !important;
					border-radius: 4px 0 0 4px;
					background-image: url("../images/help-images/flag-round.png");
					background-repeat: no-repeat;
					background-size: 16px 16px;
					background-position: 2px 7px;
					.caret {
						border-top: 8px dashed $profile-bg;
						right: 5px;
					}
					.filter-option {
						text-align: center;
					}
				}
				#stadt {
					margin-bottom: 40px !important;
				}
			}
		}
		#eight-tab, #seventh-tab {
			textarea {
				border: 1px solid $profile-bg !important;
				width: 90%;
			}
			p, a {
				font-size: 14px;
			}
			button {
				margin-bottom: 20px;
			}
		}
		#ninth-tab {
			h3 {
				margin-bottom: 25px !important;
			}
			.button-warning {
				margin-top: 63px;
			}
		}
	}
}