#legal {
	.slash {
		padding-top: 8px;
	}
	#insured-sum {
		input {
			width: 91%
		}
		.bootstrap-select {
			width: 100%;
			margin-left: -60px;
			button {
				height: 35px;
			}
		}
	}
	#choose-file {
		line-height: 30px;
		margin-left: 10px;
	}
	#permit {
		margin-bottom: 30px;
	}
}