.side-menu {
	margin-top: 45px;
	text-align: left;
	li a {
		padding: 10px 0 15px;
	}
}

.mobile {
	display: block;
	float: none;
	font-size: 15px;
	margin: 0 auto;
	margin-top: 47px;
	margin-bottom: 17px;
	&::after {
		content: '';
		border: 10px solid transparent;
		border-top: 10px solid $header-bg;
		position: absolute;
		top: 24px;
		right: -20px;
	}
}