.modal-content {
	@include box-shadow(0, 0, 0, $transparent);
	@include border-radius(0, 0, 0, 0);
	margin: 0 auto;
}

#phone-number, #verify-modal {
	.modal-header, form, .modal-footer {
		border: none;
	}
	.modal-dialog {
		@include size(508px, 211px);
		margin-top: 20%;
		.modal-header {
			padding-bottom: 0;
			padding-top: 0;
			p {
				margin-left: 15px;
			}
			button {
				border-color: $header-bg !important;
			}
		}
		.modal-content {
			border: 1px solid $header-bg;
		}
		.modal-body {
			padding-bottom: 30px;
			input {
				margin-bottom: 17px;
				font-size: 18px;
				font-weight: bold;
				line-height: 15px;
				color: $form-lable;
			}
			.modal-footer {
				text-align: left;
			}
			p {
				color: $light-orange;
				line-height: 30px;
			}
		}
		.btn-group {
			.button-warning {
				@include border-radius(6px, 6px, 6px, 6px);
				&:last-child {
					padding-right: 32px;
				}
			}
			.btn-default {
				border-color: $transparent;
			}
		}
		#why-verify {
			text-decoration: none;
			color: $red;
		}
	}
}

#sms, #phone-number .button-warning {
	margin-right: 20px;
}

.modal-backdrop {
	background-color: $transparent;
}

#phone-number {
	z-index: 99999;
}

#project-galery, #share, #delete {
	background: $modal-bg;
}

#project-galery {
	.modal-dialog {
		margin-top: 56px;
		width: 95%;
		h4, a {
			color: $white;
			font-size: 12px;
			i {
				font-size: 10px;
			}
		}
		h4 {
			margin-bottom: 18px;
		}
		.modal-content {
			background: none;
			.modal-header {
				border: none;
				.settings {
					position: absolute;
					z-index: 20;
					right: 3%;
					top: 61px;
					a {
						margin-right: 16px;
					}
				}
			}
			.item img {
				width: 94%;
				height: auto;
				margin: 0 auto;
			}
			.image-section {
				width: 96%;
				margin: 20px auto;
			}
			.prev,
			.next {
				background-image: linear-gradient(to right, $transparent, $transparent 100%) !important;
				font-size: 57px;
				height: 40px;
				opacity: 1;
				top: 40%;
				width: 40px;
			}
			.prev {
				border: 28px solid transparent;
				border-right: 43px solid $light-blue;
				left: -50px;
			}
			.next {
				border: 28px solid transparent;
				border-left: 43px solid $light-blue;
				right: -50px;
			}
		}
	}
}

#share, #delete {
	.modal-content {
		@include size(78%, 150px);
		padding-top: 25px;
		margin-top: 74%;
		.modal-body {
			padding: 0;
		}
	}
}

#share {
	.modal-content {
		background: $light-blue;
		.modal-body {
			p {
				margin-bottom: 20px;
			}
			.social-icon {
				@include size(40px, 40px);
				font-size: 22px;
				line-height: 40px !important;
				margin-top: 0;
			}
		}
	}
}

#delete {
	.modal-content {
		background: $active-color;
		button {
			@include size(80px, 31px);
			margin-top: 5px;
		}
		.disagree {
			color: $white;
			background: $header-bg;
			margin-right: 50px;
		}
		.agree {
			background: $white;
		}
	}
}