#settings {
	table {
		tr {
			td {
				line-height: 30px;
			}
		}
	}
	.checkbox {
		margin-top: 0;
		ul {
			li {
				margin-bottom: 20px;
				label {
					line-height: 25px;
				}
			}
		}
	}
	.red-button {
		@extend .button-warning;
		background-color: $pink !important;
		margin: 0 auto;
		display: block;
	}
}