#profile {
	background: $profile-bg;
	padding: 30px 30px 154px;
	.public-details {
		background: $white;
		padding-bottom: 262px;
		h3 {
			font-family: 'ArquitectaW00-Medium';
			margin: 0;
		}
		.coutry {
			color: $light-orange;
			margin: 5px 0 15px;
		}
		button {
			padding: 7px 16px;
			color: $header-bg;
		}
		.stars {
			width: 100%;
			img {
				margin-top: 5px;
			}
		}
		hr {
			border-top: 2px solid $border-gray;
		}
	}
	.project-img {
		@include size(100%, 105px);
		background: $header-bg;
	}
	.project-name {
		background: $white;
		p {
			line-height: 24px;
		}
	}
}




