#progile-settings {
	padding: 0;
	.button-warning {
		margin: 20px 0 87px;
	}
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		width: 100%;
	}
	.back {
		margin-top: 14px;
		.social-icon {
			margin-right: 5px;
			padding-right: 2px;
		}
	}
	.upload {
		background: transparent;
		font-size: 12px;
		i {
			color: $upload;
			font-size: 16px;
			margin-right: 5px;
		}
	}
	label {
		line-height: 16px;
		margin-bottom: 5px;
	}
	p {
		font-size: 10px;
	}
}
