@font-face {
	font-family: 'ArquitectaW00-Medium';
	src: url('./../fonts/ArquitectaW00-Medium.svg');
	src: url('./../fonts/ArquitectaW00-Medium.ttf');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot');
	src: url('../../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
	url('../../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff2') format('woff2'),
	url('../../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
	url('../../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
	url('../../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

