.marg-b40 {
	margin-bottom: 40px;
}

.marg-b10 {
	margin-bottom: 10px;
}

.marg-b30 {
	margin-bottom: 30px;
}

.marg-b55 {
	margin-bottom: 55px;
}

.marg-t60 {
	margin-top: 50px;
}

.marg-t3 {
	margin-top: 3px !important;
}

.line-h19 {
	line-height: 19px;
}

.top-2 {
	top: -2px
}