@mixin border-radius($radius-bottom,$radius-top,$radius-left,$radius-right) {
	@include border-bottom-radius($radius-bottom);
	@include border-top-radius($radius-top);
	@include border-left-radius($radius-left);
	@include border-right-radius($radius-right);
}

@mixin box-shadow($top, $left, $blur, $color) {
	-webkit-box-shadow:$top $left $blur $color;
	-moz-box-shadow:$top $left $blur $color;
	box-shadow:$top $left $blur $color;
}
