html, body {
	color: $header-bg;
	font-size: 12px;
	font-family: 'Open Sans';
}

a {
	text-decoration: none;
	line-height: 17px;
	color: $header-bg;
	&:hover {
		background-color: transparent !important;
		color: $active-color;
	}
	&:focus {
		background-color: $transparent !important;
		outline: none;
	}
}

.active {
	color: $active-color !important;
}

h2 {
	color: $white;
	background: $header-bg;
	font-size: 20px;
	line-height: 37px;
	margin: 0 0 22px 0;
	font-family: 'ArquitectaW00-Medium';
}

button {
	font-size: 12px !important;
}

.button-warning {
	@include border-radius(6px, 6px, 6px, 6px);
	@include size(auto, 31px);
	padding: 0 25px;
	background-color: $active-color !important;
	color: $white;
	&:hover, &:focus {
		color: $white;
	}
}

button:focus, input:focus {
	outline: none !important;
}

.dropdown-menu {
	margin-top: -3px;
	border-radius: 0 0 6px 6px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: $header-bg;
}

.section {
	overflow: auto;
	border: 0.5px solid $header-bg;
	margin-top: 30px;
}

.caret {
	border-top: 8px dashed $header-bg;
	border-right: 5px solid $transparent;
	border-left: 5px solid $transparent;
}

.open > .btn-default.dropdown-toggle {
	@include box-shadow(0, 0, 0, $transparent);
	background-color: $transparent;
}

.social-icon {
	@include size(20px, 20px);
	@include border-radius(50%, 50%, 50%, 50%);
	background-color: $header-bg;
	color: $white;
	line-height: 20px !important;
	margin: 15px 15px 15px 0;
}

.badge {
	@include border-radius(50%, 50%, 50%, 50%);
	background: $active-color;
	line-height: 15px;
}