$white: #fff;
$header-bg: #484848;
$gray: #646464;
$border-mobile: #39393C;
$active-color: #f5a623;
$light-orange: #faa635;
$form-lable: #4a4a4a;
$transparent: rgba(255, 255, 255, 0);
$first-help: rgba(255, 255, 255, .9);
$third-help: rgba(255, 255, 255, .8);
$forth-help: rgba(255, 255, 255, .7);
$fifth-help: rgba(255, 255, 255, .6);
$sixth-help: rgba(255, 255, 255, .5);
$seventh-help: rgba(255, 255, 255, .4);
$eighth-help: rgba(255, 255, 255, .3);
$ninth-help: rgba(255, 255, 255, .2);
$mobile-menu: rgba(71, 71, 74, 0.95);
$modal-bg: rgba(0, 0, 0, .7);
$red: #d0021B;
$pink: #f05d5d;
$profile-bg: #d8d8d8;
$border-gray: #979797;
$upload: #e9e9e9;
$light-gray: #9b9b9b;
$light-blue: #d6edeb